:root {
    /* font-size */
    --fs-xxsm: 10px;
    --fs-xsm: 14px;
    --fs-sm: 15px;
    --fs-xmd: 16px;
    --fs-md: 24px;
    --fs-xlg: 25px;
    --fs-lg: 28.33px;
    --fs-2xl: 36px;
    --fs-3xl: 30px;
    --fs-4xl: 40px;
    /* font-color */
    --fc-white: #fff;
    --fc-clr-white1: #fcfffe;
    --fc-clr-white: #f9f9fd;
    --fc-primary-white: #fafafa;
    --fc-navblue:#1f204b;
    --fc-linear-blue1: #1219d2;
    --fc-linear-blue2: #4e52b1;
    --fc-blue-shadow: #FFFFFF0A;
    --fc-bodyclr:#140d1b;
    --fc-clr-blue:#1B173B;
    --fc-clr-gray:#75758e;
    --fc-clr-primary-gray:#8989a5;
    --fc-white-bg:#FFFFFF14;
    --fc-primary-gray:#d0cfd3;
    --fc-black-shadow: #01010140;
    --fc-blue-shadow: #1219D233;
    --fc-clr-primary-white: #d2d1e1;
    --fc-left-line1:#696cdf;
    --fc-left-line2: #5c368a;
    --fc-left-line3: #e76e9a;
    --fc-left-line4: #d1b35e;
    --fc-left-line5: #98dbb3;
}
.text-64{
    font-size: var(--fs-4xl);
}
.text-48 {
    font-size: var(--fs-3xl);
}
.text-36 {
    font-size: var(--fs-3xl);
}
.text-32 {
    font-size: var(--fs-xlg);
}
.text-28 {
    font-size: var(--fs-lg);
}
.text-24 {
    font-size: var(--fs-md);
}
.text-20 {
    font-size: var(--fs-sm);
}
.text-16 {
    font-size: var(--fs-xmd);
}
.text-14 {
    font-size: var(--fs-xsm);
}
.text-10 {
    font-size: var(--fs-xxsm);
}
/* clr */
.clr-white{
    color: var(--fc-white);
}
.clr-primarywhite{
    color: var(--fc-primary-white);
}
.clr-bodybg{
    background:var(--fc-bodyclr);
}
.primary-gray{
    color: var(--fc-primary-gray);
}
.clr-primary-gray{
    color: var(--fc-clr-primary-gray);
}
.clr-primary_white{
    color: var(--fc-clr-primary-white);
}
.clr-white1{
    color: var(--fc-clr-white1);
}


/* ...............................media-quries */
@media(min-width:576px) {
    :root {
        --fs-xlg: 32px;
        --fs-3xl: 48px;
        --fs-4xl: 42px;
        --fs-sm: 20px;
        
    }
}

@media(min-width:768px) {
    :root {
        --fs-4xl:54px;
        
    }
}

@media(min-width:992px) {
    :root {
        /* --fs-lg: 50px;
        --fs-xl: 61px; */
        --fs-4xl: 64px;
    }
}