@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

.max-w1140 {
    max-width: 1140px;
}

.font-poppin {
    font-family: 'poppins', sans-serif;
}

.font-racing {
    font-family: 'racing sans one', sans-serif;
}

@font-face {
    font-family: 'sans serif collection';
    src: url("../font/SansSerifCollection/SansSerifCollection.ttf");
}

.ff-sans {
    font-family: 'Sans Serif Collection', sans-serif;
}

/* font-weight */
.font-w600 {
    font-weight: 600;
}

.font-w500 {
    font-weight: 500;
}

.font-w400 {
    font-weight: 400;
}

.font-w300 {
    font-weight: 300;
}

/* line-height */
.line-h56 {
    line-height: 56px;
}

.line-h42 {
    line-height: 42px;
}

.line-h37 {
    line-height: 37.6px;
}

.line-h36 {
    line-height: 36px;
}

.line-h35 {
    line-height: 35.7px;
}

.line-h32 {
    line-height: 32px;
}

.line-h30 {
    line-height: 30px;
}

/* .line-h75 {
    line-height: 75.2px;
} */

.line-h28 {
    line-height: 28.2px;
}

.line-h27 {
    line-height: 27.3px;
}

.line-h25 {
    line-height: 25px;
}

.line-h24 {
    line-height: 24px;
}

.line-h21 {
    line-height: 21px;
}

.line-h15 {
    line-height: 15px;
}

.bg_image1 {
    background-image: url("../images/hero-bgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-box {
    padding: 29px 0 30.6px 0;
    background: var(--fc-blue-shadow);
}

.gap_32 {
    gap: 32px;
}

.connect-wallet {
    padding: 14px 32px;
    border-radius: 60px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, var(--fc-linear-blue1) 0%, var(--fc-linear-blue2) 100%);
    transition: 1s;
    position: relative;
    z-index: 0;
}

.connect-wallet:hover {
    border: 1px solid var(--fc-linear-blue1);
    color: var(--fc-linear-blue1);
    background: var(--fc-white);
}

.bt_line:hover {
    color: var(--fc-white);
    text-shadow: 0 0.3px .80px var(--fc-white), 0 0.3px .80px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--fc-white);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.bt_line:hover::after {
    width: 100%;
}

/* header-section-home */

.pt_48 {
    padding-top: 60px;
}

.pb_48 {
    padding-bottom: 48px;
}

.bt_underline::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: none;
    background: var(--fc-linear-blue1);
    border-radius: 18px;
}

.max-w889 {
    max-width: 889px;
}

.travel-box {
    max-width: 930px;
    min-height: 300px;
    background: var(--fc-clr-blue);
    padding: 24px 40px;
    border-radius: 16px;
    border: 1px solid var(--fc-clr-gray);
}

.mt-65 {
    margin-top: 65px;
}

.gap_20 {
    gap: 20px;
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}


.travel-line::after {
    content: "";
    position: absolute;
    height: 1.5px;
    background: var(--fc-white);
    width: 0;
    left: 50%;
    bottom: 0;
    transition: all 200ms linear;
    transform: translateX(-50%);
}

.travel-line:hover::after {
    width: 100%;
}

.cursor_pointer {
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown1-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: var(--fc-clr-blue);
    min-width: 120px;
    right: -35px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    padding: 10px;
    border: 1px solid var(--fc-clr-primary-gray);
    z-index: 1;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.loction-box {
    /* max-width: 452px; */
    width: 100%;
    min-height: 48px;
    padding: 12px 0 11px 10px;
    border-radius: 8px;
    background: var(--fc-white-bg);
    border: 1px solid var(--fc-clr-primary-gray);
}

.check-box {
    /* max-width:180px; */
    width: 100%;
    min-height: 48px;
    padding: 5px 7px 4px 10px;
    border-radius: 8px;
    background: var(--fc-white-bg);
    border: 1px solid var(--fc-clr-primary-gray);
}

.gap_18 {
    gap: 18px;
}

.mt_10 {
    margin-top: 10px;
}
.gap_14{
    gap: 14px;
}

.form_group label:before {
    content: "";
    background-color: transparent;
    border: 0.6px solid var(--fc-clr-white);
    padding: 8.34px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.form_group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 7px;
    width: 5px;
    height: 12px;
    border: 0.6px solid var(--fc-clr-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#flight {
    display: none;
}

#car {
    display: none;
}











@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 15;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--fc-white);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 2;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--fc-navblue);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--fc-white);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--fc-white);
        width: 27px;
    }
}

@media(min-width:576px) {
    .line-sm-h50 {
        line-height: 50px;
    }

    .bt_underline::after {
        display: block;
        bottom: 9px;
        width: 285px;
        height: 11px;
        left: 23%;
    }

    .gap_sm_30 {
        gap: 30px;
    }

}

@media(min-width:768px) {
    .pt_md_140 {
        padding-top: 140px;
    }

    .pb_60 {
        padding-bottom: 60px;
    }

    .bt_underline::after {
        width: 294px;
        height: 11px;
        left: 29%;
    }

}

@media(min-width:992px) {
    .line-h75 {
        line-height: 75.2px;
    }

    .bt_underline::after {
        width: 453px;
        height: 19px;
        bottom: 12px;
        left: 25%;
    }

    .loction-box {
        max-width: 452px;
    }

    .check-box {
        max-width: 180px;
    }

}