@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

.container_1140 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.font-poppin {
    font-family: 'poppins', sans-serif;
}

.font-racing {
    font-family: 'racing sans one', sans-serif;
}

@font-face {
    font-family: 'sans serif collection';
    src: url("../font/SansSerifCollection/SansSerifCollection.ttf");
}

.ff-sans {
    font-family: 'Sans Serif Collection', sans-serif;
}

/* font-weight */
.font-w600 {
    font-weight: 600;
}

.font-w500 {
    font-weight: 500;
}

.font-w400 {
    font-weight: 400;
}

.font-w300 {
    font-weight: 300;
}

/* line-height */
.line-h56 {
    line-height: 40px;
}

.line-h42 {
    line-height: 42px;
}

.line-h37 {
    line-height: 37.6px;
}

.line-h36 {
    line-height: 36px;
}

.line-h35 {
    line-height: 35.7px;
}

.line-h32 {
    line-height: 32px;
}

.line-h30 {
    line-height: 30px;
}

.line-h75 {
    line-height: 50px;
}

.line-h28 {
    line-height: 28.2px;
}

.line-h27 {
    line-height: 27.3px;
}

.line-h25 {
    line-height: 25px;
}

.line-h24 {
    line-height: 24px;
}

.line-h21 {
    line-height: 21px;
}

.line-h15 {
    line-height: 15px;
}

.bg_image1 {
    background-image: url("../images/hero-bgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-box {
    padding: 29px 0 30.6px 0;
    background: var(--fc-blue-shadow);
}

.gap_32 {
    gap: 32px;
}

.connect-wallet {
    padding: 14px 32px;
    border: none;
    border-radius: 60px;
    background: linear-gradient(90deg, var(--fc-linear-blue1) 0%, var(--fc-linear-blue2) 100%);
    transition: 1s;
    position: relative;
    z-index: 0;
}

.connect-wallet:hover {
    color: var(--fc-linear-blue1);
    background: var(--fc-white);
}

.bt_line:hover {
    color: var(--fc-white);
    text-shadow: 0 0.3px .80px var(--fc-white), 0 0.3px .80px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--fc-white);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.bt_line:hover::after {
    width: 100%;
}

/* header-section-home */
.pt_48 {
    padding-top: 60px;
}

.pb_30 {
    padding-bottom: 30px;
}

.bt_underline::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: none;
    background: var(--fc-linear-blue1);
    border-radius: 18px;
}

.max-w889 {
    max-width: 889px;
}

.travel-box {
    max-width: 930px;
    min-height: 300px;
    background: var(--fc-clr-blue);
    padding: 24px 40px;
    border-radius: 16px;
    border: 1px solid var(--fc-clr-gray);
}

.mt-65 {
    margin-top: 65px;
}

.gap_20 {
    gap: 20px;
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}

.travel-line::after {
    content: "";
    position: absolute;
    height: 1.5px;
    background: var(--fc-white);
    width: 0;
    left: 50%;
    bottom: 0;
    transition: all 200ms linear;
    transform: translateX(-50%);
}

.travel-line.active::after {
    width: 100%;
}

.cursor_pointer {
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown1-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: var(--fc-clr-blue);
    min-width: 120px;
    right: -35px;
    padding: 10px;
    border: 1px solid var(--fc-clr-primary-gray);
    z-index: 1;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.loction-box {
    width: 100%;
    min-height: 48px;
    padding: 12px 0 11px 10px;
    border-radius: 8px;
    background: var(--fc-white-bg);
    border: 1px solid var(--fc-clr-primary-gray);
}

.check-box {
    width: 100%;
    min-height: 48px;
    padding: 5px 7px 4px 10px;
    border-radius: 8px;
    background: var(--fc-white-bg);
    border: 1px solid var(--fc-clr-primary-gray);
}

.gap_18 {
    gap: 18px;
}

.mt_10 {
    margin-top: 10px;
}

.gap_14 {
    gap: 14px;
}

.form_group label:before {
    content: "";
    background-color: transparent;
    border: 0.6px solid var(--fc-clr-white);
    padding: 8.34px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.form_group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 7px;
    width: 5px;
    height: 12px;
    border: 0.6px solid var(--fc-clr-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#flight {
    display: none;
}

#car {
    display: none;
}

.search-btn {
    padding: 14px 32px;
    border-radius: 60px;
    background: linear-gradient(90deg, var(--fc-linear-blue1) 0%, var(--fc-linear-blue2) 100%);
    transition: 1s;
    position: relative;
    z-index: 0;
    border: none;

}

.search-btn:hover {
    color: var(--fc-linear-blue1);
    background: var(--fc-white);
}

.mt_30 {
    margin-top: 30px;
}

.input-card {
    outline: none;
    background-color: transparent;
    /* color: var(--fc-white); */
}

::placeholder {
    color: var(--fc-white);
}

/* .................................about-us.section.......... */
.absolute1 {
    position: absolute;
    left: 0;
    bottom: -60%;
    z-index: -1;
}

.absolute2 {
    position: absolute;
    bottom: -60%;
    right: 0;
    z-index: -2;

}

.opacity_80 {
    opacity: 80%;
}

.max-w509 {
    max-width: 509px;
}

.pb_20 {
    padding-bottom: 20px;
}

.get-btn {
    padding: 14px 32px;
    background: linear-gradient(90deg, var(--fc-linear-blue1) 0%, var(--fc-linear-blue2) 100%);
    transition: 1s;
    position: relative;
    border-radius: 60px;
    border: none;
    margin-top: 40px;
    z-index: 8;
    position: relative;
}

.get-btn:hover {
    color: var(--fc-linear-blue1);
    background: var(--fc-white);
}

.py_110_130 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.max-w535 {
    max-width: 535px;
}

.pb_48 {
    padding-bottom: 48px;
}

.z_4 {
    z-index: 4 !important;
}

/* ................popular-detination............... */
.absolute3 {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -2;
}

.w_h365 {
    width: 365px;
    height: 365px;
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 23px;
    grid-column-gap: 20px;
}

.griditem1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.griditem2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.griditem3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.griditem4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.griditem5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.griditem6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.text-card {
    border-radius: 42px;
    padding: 10px 28px;
    position: absolute;
    top: 12px;
    backdrop-filter: blur(5px);
    left: 12px;
    background: var(--fc-black-shadow);
    z-index: 1;
    opacity: 0;
    transition: all 400ms linear;
}

.img-card:hover .text-card {
    opacity: 1;
}

.br_14 {
    border-radius: 14px;
}

.py_65_80 {
    padding-top: 48px;
    padding-bottom: 48px;
}

/*................member-deals section */
.py_80_110 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.slider-card {
    background: var(--fc-blue-shadow);
    border-radius: 13px;
    position: relative;
}

.discount-box {
    border-radius: 42px;
    padding: 10px 28px;
    background: var(--fc-black-shadow);
    position: absolute;
    left: 16px;
    top: 16px;
    backdrop-filter: blur(10px);
}

.max-w367 {
    max-width: 367px;
}

.rating-box {
    padding: 16px 20px 21px 20px;
}

.absolute4 {
    position: absolute;
    left: 0;
    top: -260px;
    z-index: -1;
}

.absolute5 {
    position: absolute;
    right: 0;
    top: -155px;
    z-index: -1;
}

.slick-slide {
    height: inherit !important;
}

.slick-track {
    gap: 20px !important;
    align-items: start;
    display: flex !important;
    justify-content: space-between !important;
}

.slick-slide>div {
    display: flex !important;
}

.slick-dots li.slick-active {
    width: 59px !important;
    height: 12px !important;
    background-color: var(--fc-linear-blue1) !important;
}

.slick-dots li {
    margin: 0 7px 0 0 !important;
    width: 28px !important;
    height: 12px !important;
    border-radius: 21px !important;
    transition: all 300ms linear;
    background-color: var(--fc-primary-white);
}

.slick-dots li button:before {
    color: transparent !important;
}

.slick-dots li button:active {
    color: transparent !important;
}

.slick-list {
    padding-bottom: 25px;
}

.pb_50 {
    padding-bottom: 30px;
}

/*.................................. tokenomics................. */
.max_1120 {
    max-width: 1120px;
}

.liner-img {
    filter: blur(2px);
    top: -3px;
    opacity: 96%;
}

.bg_image2 {
    background-image: url("../images/token-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.py_65_30 {
    padding-top: 65px;
    padding-bottom: 30px;
}

.my_26_54 {
    margin-top: 26px;
    margin-bottom: 54px;
}

.token_card {
    padding: 15px 16px;
    background-color: rgba(18, 25, 210, 0.2);
    border-radius: 20px;
    max-width: 582px;
    min-height: 480px;
}

.gap_30 {
    gap: 30px;
}

.gap_24 {
    gap: 23px;
}

.left-line1 {
    height: 64px;
    width: 6px;
    background-color: var(--fc-left-line1);
}

.left-line2 {
    height: 64px;
    width: 6px;
    background-color: var(--fc-left-line2);
}

.left-line3 {
    height: 64px;
    width: 6px;
    background-color: var(--fc-left-line3);
}

.left-line4 {
    height: 64px;
    width: 6px;
    background-color: var(--fc-left-line4);
}

.left-line5 {
    height: 64px;
    width: 6px;
    background-color: var(--fc-left-line5);
}

.gradient-img {
    position: absolute;
    bottom: -50px;
    z-index: -1;
    filter: blur(30px);
}

/* ....................meet-our-team............. */
.absolute6 {
    position: absolute;
    top: -25%;
    right: 0;
    z-index: -1;
}

.py_154_80 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.absolute7 {
    position: absolute;
    bottom: -60%;
    left: 0;
    z-index: -1;
}

.slider-card2 {
    background: var(--fc-blue-shadow);
    border-radius: 13px;
}

.br_13 {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.ceo-box {
    padding: 20px 0 22px 24px;
}

.slick-slider.responsive2 .slick-list .slick-track {
    display: flex;
    gap: 20px !important;
}

.slick-slider.responsive2 .slick-slide {
    height: inherit !important;
}

/* .............faqs............... */
.absolute8 {
    position: absolute;
    bottom: -50%;
    right: 0;
    z-index: -2;
}

.max_w749 {
    max-width: 749px;
}

.accordion-button {
    color: var(--fc-primary-white) !important;
    border: none !important;
    padding: 16px !important;
}

.accordion-button .max_w561 {
    max-width: 561px;
    margin-right: 10px;
}

.opacity_70 {
    opacity: 70%;
}

.max_w564 {
    max-width: 564px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion {
    --bs-accordion-color: none !important;
    --bs-accordion-bg: none !important;
}

.accordion-item {
    color: unset !important;
    background-color: none !important;
    border-bottom: 1px solid var(--fc-border1) !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: none !important;
}

.accordion-item:first-of-type {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-item:last-of-type {
    border-bottom: none !important;
}

.accordion-body {
    padding: 0 16px 16px 16px !important;
}

.accordion-button::after {
    background-image: url("../images/svguparrow.svg") !important;
    width: 21px !important;
    height: 12px !important;
    position: absolute;
    top: 27px !important;
    right: 0 !important;
    background-size: cover !important;
}

/* ............................footer-section */
.mt_80 {
    margin-top: 40px;
}

.py_44_50 {
    padding-top: 44px;
    padding-bottom: 50px;
}

.pb_26 {
    padding-bottom: 26px;
}

.nav_link {
    position: relative;
    transition: all 300ms linear;
}

.nav_link::after {
    content: "";
    position: absolute;
    height: 1.5px;
    background: var(--fc-white);
    width: 0;
    left: 50%;
    bottom: -3px;
    transition: all 300ms linear;
    transform: translateX(-50%);
}

.nav_link:hover::after {
    width: 100%;
}

.icons {
    transition: all 100ms linear;
}

.icons:hover {
    transform: translateY(-5px);
}

.topBtn {
    border-radius: 50px;
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 30px;
    border: none;
    outline: none;
    background-color: var(--fc-linear-blue1);
    cursor: pointer;
    padding: 10px;
    z-index: 6;
}

.topBtn.show {
    visibility: visible;
}

.topBtn:active {
    transform: translateY(5px);
}



@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 20;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--fc-white);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 2;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--fc-navblue);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--fc-white);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--fc-white);
        width: 27px;
    }

    .max_406 {
        max-width: 406px;
    }

    .justify_content_between {
        justify-content: space-between;
    }

}



@media(max-width:575.99px) {
    .pe_72 {
        padding-right: 72px;
    }

    .gap_140 {
        gap: 24px;
    }
}

@media(min-width:576px) {
    .line-sm-h50 {
        line-height: 50px;
    }

    .bt_underline::after {
        display: block;
        bottom: 10px;
        width: 330px;
        height: 13px;
        left: 22%;
    }

    .gap_sm_30 {
        gap: 30px;
    }

    .py_110_65 {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .griditem1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .griditem2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .griditem3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .griditem4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .griditem5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .griditem6 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .slick-list {
        padding-bottom: 40px;
    }

    .pb_50 {
        padding-bottom: 50px;
    }

    .line-h75 {
        line-height: 60px;
    }

    .token_card {
        padding: 30px 50px;
    }

    .gap_24 {
        gap: 24px;
    }

    .gap_140 {
        gap: 24px;
    }

    .py_154_80 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py_80 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .line-h56 {
        line-height: 56px;
    }

    .accordion-button::after {
        top: 35px !important;
        right: 25 !important;
    }

    .mt_80 {
        margin-top: 60px;
    }
}

@media(min-width:650px) {
    .bt_underline::after {
        width: 330px;
        display: block;
        height: 14;
        bottom: 12px;
        left: 27%;
    }

    .gap_140 {
        gap: 140px;
    }

}

@media(min-width:768px) {
    .pt_md_140 {
        padding-top: 140px;
    }

    .bt_underline::after {
        width: 385px;
        height: 13px;
        left: 29%;
    }

    .py_110_65 {
        padding-top: 70px;
        padding-bottom: 65px;
    }

    .py_65_80 {
        padding-top: 65px;
        padding-bottom: 60px;
    }

    .py_80_110 {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    .py_154_80 {
        padding-top: 154px;
        padding-bottom: 80px;
    }

    .py_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .mt_80 {
        margin-top: 80px;
    }
}

@media(min-width:992px) {
    .line-h75 {
        line-height: 75.2px;
    }

    .bt_underline::after {
        width: 453px;
        display: block;
        height: 19px;
        bottom: 12px;
        left: 25%;
    }

    .loction-box {
        max-width: 452px;
    }

    .check-box {
        max-width: 180px;
    }

    .py_110_65 {
        padding-top: 110px;
        padding-bottom: 65px;
    }

    .pb_lg_60 {
        padding-bottom: 60px;
    }

    .pb_lg_106 {
        padding-bottom: 106px;
    }

    .griditem1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .griditem2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .griditem3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .griditem4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .griditem5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .griditem6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    .py_65_80 {
        padding-top: 65px;
        padding-bottom: 80px;
    }
}